html,body {
    width: 100%;
    height: 100%;
    background-color: #012;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#grid line {
    stroke: #777;
}

#labels text {
    fill: #777;
}

h1 {
	margin-top: 0px;
}

#help {
	font-family: sans-serif;
	position: absolute;
	right: 1em;
	top: 1em;
	background-color: rgba(255,255,255,0.15);
	border-radius: 10px;
	padding: 15px;
	width: 20%;
	color: lightgray;
}

a {
	color: #9FF;
}